header{
    height: 115px;
    background-color: var(--theme-blue);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header div{
    height: 14px;
}

header h1 {
    width: 100%;
    max-width: 1180px;
    height: 45px;
    position: relative;
    margin: auto auto 0;
}

header .header-green1 {
    background-color: var(--theme-green1);
}

header .header-green2 {
    background-color: var(--theme-green2);
}