#detail-page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
}

.voltar a {
    color: var(--theme-blue);
    text-decoration:  none;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 40px;
}

.voltar a svg {
    color: var(--theme-green1);
    margin-right: 10px;
}

.img-container {
    max-width: 330px;
    margin: 0 15px;
}

.panel img {
    /* height: 70%; */
    max-width: 100%;
    height: auto;
    /* padding: 20px 0; */
    margin: 20px 0px;
    border-radius: 5px;
}

.dados {
    max-height: 475px;
    max-width: 650px;
    flex: 1;
    /* padding: 20px 0; */
    margin: 20px 15px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #4E7EAB;
    border-radius: 5px;
}

.dados h3 {
    font-weight: 500;
    color: var(--theme-grey);
    background-color: #4E7EAB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    /* max-width: 400px; */
    font-size: 28px;
    padding: 5px;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dados .row {
    margin: 0 0;
}

.nomeSenador {
    padding: 7px 15px;
    font-weight: 500;
    font-size: 26px;
}

#detail-page .membership {
    margin: 0 0 50px;
    display: flex;
    justify-content: center;
}

#detail-page .membership span {
    margin: 0 10px;
}

#detail-page .membership .texto {
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.texto {
    padding: 7px 15px;
    font-weight: 300;
    font-size: 20px;
}

.texto a {
    font-style: italic;
    color: #4E7EAB;
    padding-left: 5px;
}

.texto-email {
    font-size: 17px;
}

.comissoes {
    margin-top: 25px;
}

.comissoes ul {
    border-radius: 10px;
    margin-bottom: 15px
}

.comissoes ul li.titulo {
    background-color: var(--theme-grey);
    font-weight: 500;
}