* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300px;
}

h1 {
    font-family: Ubuntu;
    font-size: 48px;
    font-weight: normal;
    color: #F5F5F5;
}